---
title: Minio for Pivotal Greenplum
owner: Partners
---

This documentation describes Minio for Pivotal Greenplum.
Minio is an open source object storage server with an Amazon S3-compatible API. Greenplum DB can use [S3 extension](https://gpdb.docs.pivotal.io/570/admin_guide/external/g-s3-protocol.html) to access objects that are stored inside Minio.

## <a id='overview'></a>Key Features
Minio for Greenplum includes the following key features:

* **Amazon S3-compatible:** Amazon S3 API is the de facto standard for object storage.
Minio implements the Amazon S3 API.
* **Data protection:** Minio protects data against hardware failures using erasure code and bitrot detection. 
You may lose up to half the number of drives and still recover from it. 
Data protection code is accelerated using SIMD instructions on x64 and ARM CPUs.
* **Highly available:** Minio server can tolerate up to (N/2)-1 node failures in a distributed setup. 
In addition, you can configure Minio server to continuously mirror data between Minio and
any Amazon S3-compatible server.

## <a id="feedback"></a>Support and License
For a commercial subscription, please contact pivotal@minio.io
