---
title: Release Notes for Minio for Greenplum
owner: Partners
---

These are release notes for Minio for Greenplum.

##<a id="RELEASE.2018-12-27T18-33-08Z"></a> RELEASE.2018-12-27T18-33-08Z

**Release Date:** December 27th, 2018

Features included in this release:

* Support for stand-alone or distributed deployments.

