---
title: Release Notes for Minio for Pivotal Greenplum
owner: Partners
---

These are release notes for Minio for Pivotal Greenplum.

##<a id="RELEASE.2018-12-27T18-33-08Z"></a> RELEASE.2018-12-27T18-33-08Z

**Release Date:** January 15, 2019

Features included in this release:

* Support for stand-alone or distributed deployments
* Initial release on Pivotal Network

