---
title: Using Minio for Pivotal Greenplum
owner: Partners
---

This topic describes how to use Minio for Pivotal Greenplum.

After installing Minio for Pivotal Greenplum developers can use the Minio object store with Greenplum. There are three uses cases for Minio for Pivotal Greenplum:

1. Store Greenplum backups in a Minio object store.
1. Load data from a Minio object store to Greenplum.
1. Create Greenplum federated queries to include data stored in a Minio object store.



##<a id='backup-to-minio'></a> Backup and Restore Data to a Minio Object Store

The S3 storage plugin lets you use Minio for Pivotal Greenplum to store and retrieve backups when you run gpbackup and gprestore. The Minio object store provides high performance, durable, and secure storage for backups.

Using S3 Storage Plugin with gpbackup and gprestore: [link](https://gpdb.docs.pivotal.io/5150/admin_guide/managing/backup-s3-plugin.html)

Using Greenplum PXF protocol to access S3: [link](https://gpdb.docs.pivotal.io/latest/pxf/access_objstore.html)

Using Greenplum S3 protocol to access S3: [link](https://gpdb.docs.pivotal.io/latest/admin_guide/external/g-s3-protocol.html)



##<a id='load-greenplum-to-minio'></a> Load and Unload Greenplum Data to a Minio Object Store

Greenplum database supports loading and unloading data from several types of external data sources, including objects stored in a Minio object store. Objects in a Minio object store can contain unstructured data, text files, log files, time series data, and Greenplum tables.

* Data previously stored in a Minio object store can be loaded into Greenplum.
* A developer can load data from Greenplum tables into a Minio object store for access by an external application.
* External applications can write data to a Minio object store which can then be loaded into Greenplum.

Loading and Unloading Data: [link](https://gpdb.docs.pivotal.io/530/admin_guide/load/topics/g-loading-and-unloading-data.html)

Using Greenplum PXF protocol to access S3: [link](https://gpdb.docs.pivotal.io/latest/pxf/access_objstore.html)

Using Greenplum S3 protocol to access S3: [link](https://gpdb.docs.pivotal.io/latest/admin_guide/external/g-s3-protocol.html)



##<a id='access-s3-table-in-minio'></a> Access an S3 External Table Stored in a Minio Object Store

Greenplum developers can query data held in an S3 external table. Data stored in a Minio object store can be used as an external S3 table.

Defining External Tables: [link](https://gpdb.docs.pivotal.io/530/admin_guide/external/g-external-tables.html)

Using Greenplum PXF protocol to access S3: [link](https://gpdb.docs.pivotal.io/latest/pxf/access_objstore.html)

Using Greenplum S3 protocol to access S3: [link](https://gpdb.docs.pivotal.io/latest/admin_guide/external/g-s3-protocol.html)
